body{
    background-color: rgba(23, 0, 49,0.7);
    background-image: url("https://thumbs.dreamstime.com/b/team-teamwork-goals-strategy-vision-business-support-concept-50274164.jpg");
    
    height: 100%; 
    margin: 0px;
    margin-top: -20px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    padding: 0px;
}


header{
    margin: auto;
    width: 60%;
    text-align: center;
}
#title,#description{
    color: white;
    
}

#description{
    font-size: 1.5em;
}
.data-container{
    background-color: rgba(146, 106, 192, 0.8);
    width: 100%;
    height: 100%;
}
.container{
    margin: auto;
    padding: 2em;
    width: 60%;
    background-color: rgb(23, 0, 49);
    opacity: 90%;
    border-radius: 2px;
    text-align: left;
    color: white;
    font-size: 1.5em;
}
#name, #email, #number, #dropdown, #cmnt{
    width: 95%;
    height: 1.9em;
    margin-top: 0.3em;
    margin-bottom:1.2em;
    border-radius: 6px;
    padding-left: 20px;
    font-size: 0.8em;
}
 
#def,#mb,#ntsr{
    margin-right: 1em;
}
#fep,#bep,#dv,#vid,#wiki{
    margin-right: 1em ;
}
#ntsr,#wiki{
    margin-bottom: 2em;
}
#cmnt{
    height: 10em;
}
#submit{
    text-align: center;
    width: 100%;
    height: 4em;
    font-size: 20px;
    color: white;
    padding: -50px;
    background-color: yellowgreen;
}
#dropdown{
    width: 100%;
}
@media(max-width:415px){
    #dropdown, #submit{
        width: 106%;
    }
}
@media(max-width:280px){
    #dropdown, #submit{
        width: 110%;
    }
}