
header{
    font-size: 30px;
    font-family: sans-serif;
    margin-left: 10px;
}
#navbar header{
    position: sticky;
    top:0px;
    /* text-align: center; */
    background-color: white;
    display: block;
    width: 100%;
    margin-left: 0px;
    padding: 10px;
}
#main-doc{
    height: 100vh;
    overflow: auto;
}
.main-section{
    margin-top: 20px;
    /* margin-left: 20px; */
    padding-left: 20px ;
}
.main-section p{
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(71, 71, 71);
    word-spacing: 5px;
    line-height: 1.4;
    margin-left: 20px;
}
.main-section ul li{
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(71, 71, 71);
    word-spacing: 5px;
    line-height: 1.3;
}
.main-section code{
    color: rgb(71, 71, 71);
    background-color: rgb(236, 236, 236);
    /* border: 1px solid black; */
    border-radius: 2px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    max-width: 95%;
    margin-left: 20px;
}
#navbar{
    width: 270px;
    /* margin-right: 30px; */
    height:100vh;
    float: left;
    padding-right: 6px;
    overflow: auto;
    overflow-x: hidden;
}
#navbar a{
    display: block;
    text-decoration: none;
    /* text-decoration: overline; */
    line-height: 10px;
    padding: 14px;
    font-size: 16px;
}
@media (max-width: 600px) {
    #navbar{
        width: 100%;
        height:50vh;
        overflow: auto;
        float: none;
    }
    #navbar header{
        position: sticky;
        top:0px;
        text-align: center;
        background-color: white;
        display: block;
        width: 100%;
        margin-left: 0px;
        padding: 10px;
    }
    body{
        margin: 0px;
    }
    .main-section{
        padding-left: 0px;
        margin: auto;
        margin-right: 10px;
    }
    code{
        word-wrap: break-word;
    }
}
